html {
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.TheHeader {
    display: flex;
    background-color: rgba(9,0,34,0.5);
    color: white;
    /* margin: 1rem 0; */
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    
    /* height: 2rem; */
    justify-content: space-between;
}

.Logo {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    margin: 0; 
}

.TheLinks {
    transition: background-color 0.3s ease;
    background-color:rgba(94,94,255,0.75); /* rgba(102,106,255,0.5); */
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 10px;
    padding: 0.5rem;
/*     border: solid 2px rgb(83, 21, 39);
    border-radius: 0.7rem; */
}

.TheLinks:hover {
    background-color: rgba(21,0,54,0.75); /* rgb(52,27,117,0.75); */
}

.TitleSection {
    padding: 4rem;
}

#titulo {
    color: white;
    text-align: center;
    font-size: 4rem;
}
.ImageLogo {
/*     margin-right: 10px;
    padding: 0.5rem; */
    max-height: 100px;
    max-width: 100px;
}
.Banner {
    width: 100%;
    height: 300px;
    background-image: url(images/Vitrina2.png);
    background-size: cover;
    background-position: center;
}

.FondoObras {
    display: block;
    padding: 60px 120px;
    /* padding: 5rem 10rem; */
    background-color:rgba(67,56,253,0.75);
    border-radius: 0.7rem;
    /* background-image: url(images/FondoLetras2.png); */
    background-size: 100% 100%;
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.containerObras{
    display: flex; 
    align-content: stretch;
    margin: 2rem;
    justify-content: center;
}

.FondoObras:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.7);
}



.container {
    /* max-width:600px;  */
     display: flex; 
    align-content: stretch;
    /* overflow: visible;  */
    margin: 2rem 5rem;
    padding: 1rem 1rem 1rem 1rem;
    justify-content: center;  /* space-around; */
}

.myImage {
    float: left;
    width: 100%;
    max-width: 550px;
    object-fit: contain;
    border: hidden 2px rgba(163,191,255,0.75);
    border-radius: 0.5rem;
    margin-right: 15px;
}

.myImageLeft {
    float: left;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
/*     border: hidden 2px rgba(163,191,255,0.75);
    border-radius: 0.5rem; */
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.myImageRight {
    
    float: right;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
/*     border: hidden 2px rgba(163,191,255,0.75);
    border-radius: 0.5rem; */
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.post {
    float: right;
    margin: 1rem 1rem;
    max-width: 600px;
   
}
/* .container2 {

} */
h2 {
    text-align: center;
    padding: 1rem 0;
    color: rgb(52,27,117)
}

p {
    text-align: justify;
    line-height : 40px;
    text-indent: 30px;
    margin:0px;
}

li {
    text-align: justify;
    line-height : 40px;
    margin-left: 1rem;
}

ul {
    max-width: 700px;
    font-size: 1.2rem;
    margin-left: 1rem;
}

footer {
    position: 0;
    background-color: rgba(66,56,254,0.75);
    padding: 1rem;
    color: white;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
}